{% extends 'base.html.twig' %}

{% block body %}
    <h1>Your network</h1>

    <ul>
        {% for profile in profiles %}
            <li>{{ profile.first_name }} [<a href="#">View</a>]</li>
        {% endfor %}
    </ul>
{% endblock %}
