{% extends 'base.html.twig' %}

{% block body %}
        <h1>Welcome!</h1>

        <ul>
            <li><a href="{{ path('login_action') }}">Login</a></li>
            <li><a href="{{ path('register_action') }}">Register</a></li>
        </ul>
{% endblock %}
