{% extends 'base.html.twig' %}

{% block body %}
    <h1>Register</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    {{ form(form) }}

    <p><a href="{{ path('index_action') }}">Back to index</a></p>
{% endblock %}
